@model IEnumerable<WebAppMacroSociety.Models.ListLevelUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level19)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level24)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level25)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level26)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level27)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level28)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level29)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level30)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level31)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level32)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level33)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level34)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level35)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level36)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level37)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level38)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level39)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level40)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserReceivedPrize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level27)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level28)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level29)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level31)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level32)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level33)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level34)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level35)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level36)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level37)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level38)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level39)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level40)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserReceivedPrize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserNavigation.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
